@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    font-family: poppins;
}


img{
    width: 200px;
}

ul{
    list-style: none;
    display: flex;
}

#b{
    margin-inline: 5px;
    margin-top: 10px;
}

#a{
    margin-inline: 10px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}



.dropbtn {
    background-color: transparent;
    color: black;
    float: inline-end;
    margin-left: 12px;
    padding: 16px;
    font-size: 16px;
    border: none;
    }
    
    .dropdown {
    position: relative;
    display: inline-block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #3e8e41;}

#muni{
    width: 520px;
    float: right;
}


#mo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#a1{
    margin-left: 65px;
}

#green{
    color: #8DC63F;
}

#blue{
    color: #0d6db7;
}

#explor{
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

#nd{
    animation-name: flipInY;
    background-color: rgba(182, 239, 73, .2);
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
    width: 100%;
}

.button{
    transition:transform .5s;
    display:inline-block;
    padding:10px 25px;
    text-decoration:none;
    color:#000000;
    text-align:center;
    background-color:#ffffff;
    margin-bottom:25px;
    background-clip:padding-box;
    border-radius: 10px;
    border:1px solid white;
    border-radius:10px;
    margin: 20px;
}

.button:hover{
    transform:scale(1.2);
    background-color:#000000;
    color: #ffffff;

}

.button:active, .button.active{
    background-color:#000000;
    border-color:#ffffff #ffffff #ffffff;
}


#usa.div{}

#ha{
    width: 1180px;
    height: 560px;
    border-radius: 4px;
    margin-left: 23px;
    vertical-align: middle;
}

#what{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, .85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: .5em;
}

.button1{
    transition:transform .5s;
    display:inline-block;
    padding:10px 25px;
    text-decoration:none;
    color:#ffffff;
    text-align:center;
    background-color:#8DC63F;
    margin-bottom:25px;
    background-clip:padding-box;
    border-radius: 10px;
    border:1px solid #8DC63F;
    border-radius:10px;
    margin: 20px;
}

.button1:hover{
    transform:scale(1.2);
    background-color:#8DC63F;
    color: rgb(255, 255, 255);

}

.button1:active, .button1.active{
    background-color:#8DC63F;
    border-color:#8DC63F #8DC63F #8DC63F;
}


a{
    margin-top: 15px;
}

#nav_space{
    margin-left: 4px;
    padding: 14px;
}

.img_icon1{
    eight: 70px;
    object-fit: contain;
    width: 70px;
}

.p_icon1{
    color: rgba(0, 0, 0, .85);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5em;
    margin-left: 100px;
    margin-right: auto;
}

.div_icon{
    background-color: #c7c7c7;
    flex: 0 0 auto;
        width: 16.66666667%;
}