@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    font-family: poppins;
}


img{
    width: 200px;
}

ul{
    list-style: none;
    display: flex;
}

#b{
    margin-inline: 5px;
    margin-top: 10px;
}

#a{
    margin-inline: 10px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}



.dropbtn {
    background-color: transparent;
    color: black;
    float: inline-end;
    margin-left: 12px;
    padding: 16px;
    font-size: 16px;
    border: none;
    }
    
    .dropdown {
    position: relative;
    display: inline-block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #3e8e41;}

#muni{
    width: 520px;
    float: right;
}


#mo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#a1{
    margin-left: 65px;
}

#green{
    color: #8DC63F;
}

#blue{
    color: #0d6db7;
}

#explor{
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

#nd{
    animation-name: flipInY;
    background-color: rgba(182, 239, 73, .2);
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
    width: 100%;
}

.button{
    transition:transform .5s;
    display:inline-block;
    padding:10px 25px;
    text-decoration:none;
    color:#000000;
    text-align:center;
    background-color:#ffffff;
    margin-bottom:25px;
    background-clip:padding-box;
    border-radius: 10px;
    border:1px solid white;
    border-radius:10px;
    margin: 20px;
}

.button:hover{
    transform:scale(1.2);
    background-color:#000000;
    color: #ffffff;

}

.button:active, .button.active{
    background-color:#000000;
    border-color:#ffffff #ffffff #ffffff;
}


#usa.div{}

#ha{
    width: 1180px;
    height: 560px;
    border-radius: 4px;
    margin-left: 80px;
    vertical-align: middle;
}

#what{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, .85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: .5em;
}

.button1{
    transition:transform .5s;
    display:inline-block;
    padding:10px 25px;
    text-decoration:none;
    color:#ffffff;
    text-align:center;
    background-color:#8DC63F;
    margin-bottom:25px;
    background-clip:padding-box;
    border-radius: 10px;
    border:1px solid #8DC63F;
    border-radius:10px;
    margin: 20px;
}

.button1:hover{
    transform:scale(1.2);
    background-color:#8DC63F;
    color: rgb(255, 255, 255);

}

.button1:active, .button1.active{
    background-color:#8DC63F;
    border-color:#8DC63F #8DC63F #8DC63F;
}


a{
    margin-top: 15px;
}

#nav_space{
    margin-left: 4px;
    padding: 14px;
}

.img_icon1{
    eight: 70px;
    object-fit: contain;
    /* justify-content: flex-start; */
    width: 70px;
}

.p_icon1{
    color: rgba(0, 0, 0, .85);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5em;
}

.div_icon1{
    background-color: rgba(192, 250, 85, 0.2);
    border-radius: 10px;
    color: #424242;
    cursor: default;
    margin-top: 40px;
    padding: 60px;
    padding-bottom: 0px;
    text-align: center;
    transition: background-color 1.5s
}

.icons{
    display: flex;
    justify-content: space-around;
}


.box{
    width: 200px;
    background: #e1ffb7;
    margin: 0px 10px;
    padding: 19px;
    transition: .2s;

}
.box:hover{
    transform: scale(1.3);
    background: #e1ffb7;
    z-index: 2;
}

.nav_min{
    margin-left: 7px;
}

.donate{
    display: flex;
    justify-content: space-evenly;
}

.donate_img3{
    width: 390px;
    transition: .25s;
}

.donate_img3:hover{
    transform:scale(1.09);
    color: rgb(255, 255, 255);
}


.donate_img1{
    width: 390px;
    transition: .25s;
}

.donate_img1:hover{
    transform:scale(1.09);
    color: rgb(255, 255, 255);
}
.donate_img2{
    width: 390px;
    transition: .25s;
}

.donate_img2:hover{
    transform:scale(1.09);
    color: rgb(255, 255, 255);
}

.other-projects{
    display: flex;
    justify-content: space-around;
}

.other-projects>div>img{
    width: fit-content;
}

.other-projects-text{
    width: 625;
}

.work{
    display: flex;
    justify-content: center;
}

.work>img{
    width: 400px;
    width: fit-content;
}

.worker{
    /* display: block; */
    justify-content: center;
}

.worker>p{
    margin-left: 583px;
    color: #8dc63f ;
}

.worker>h2{
    margin-left: 525px;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img {
    display: block;
    width: 1280px;
    height: 340px;
    margin-left: 43px;
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 3rem;
  }
  
  .carousel-button.next {
    right: 3rem;
  }

#card{
    display: flex;
    justify-content: space-around;
  }

#part-of-foot{
    display: flex;
    justify-content: center;
}

#part-of-foot>img{
    width: 1290px;
}

.footer>img{
    width: 1348px;
}

.blue-p{
    color: #0d6db7;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: .5em;
}